@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

body,
button {
  font-family: "Inter", sans-serif;
}

:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
  --primary-color: #007bff;
  --secondary-color: #343a40;
  --text-color: #ffffff;
  --background-color: #f7f9fc;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  overflow-x: hidden;
}

header .navbar {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

header .navbar-brand {
  font-weight: bold;
  color: var(--text-color) !important;
}

header .nav-link {
  color: var(--text-color) !important;
}

header .nav-link:hover {
  color: #cccccc !important;
}

.sidebar-nav {
  width: var(--offcanvas-width);
}

.sidebar-link {
  display: flex;
  align-items: center;
}

.sidebar-link .right-icon {
  display: inline-flex;
}

.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}

@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }

  main {
    margin-left: var(--offcanvas-width);
  }

  .offcanvas-backdrop::before {
    display: none;
  }

  .sidebar-nav {
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
}

#wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar-wrapper {
  min-height: 100vh;
  width: 250px;
  margin-left: -250px;
  transition: margin 0.25s ease-out;
  background-color: var(--secondary-color);
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  color: var(--text-color);
}

#sidebar-wrapper .list-group {
  width: 100%;
}

#sidebar-wrapper .list-group-item {
  padding: 15px 20px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
}

#sidebar-wrapper .list-group-item:hover {
  background-color: #575757;
  color: white;
}

#page-content-wrapper {
  width: 100%;
  padding: 20px;
  background-color: var(--background-color);
  min-height: 100vh;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.card {
  margin-bottom: 20px;
  box-shadow: var(--card-shadow);
}

.card-header {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.content {
  flex: 1;
}

footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 20px 0;
  text-align: center;
}

footer p {
  margin: 5px 0;
}
