{% extends 'baseMenuPrincipal.html' %}

{% block title %}Registro de Consumo - NutriMentor{% endblock %}

{% block content %}

    <div class="container mt-5">
        <div class="header">
            <h1>NutriMentor</h1>
            <p>NutriMentor é uma plataforma de Consumo de Suplementos desenvolvida para auxiliar usuários na gestão e registro do consumo de suplementos nutricionais.</p>
            <p>A plataforma permite que os usuários cadastrem os suplementos que consomem regularmente e registrem o consumo diário ao longo do tempo.</p>
            <h2>Funcionalidades Principais:</h2>
            <ul>
                <li>Cadastro de Usuário: Os usuários podem criar uma conta na plataforma para começar a gerenciar seu consumo de suplementos.</li>
                <li>Cadastro de Suplementos: Os usuários podem adicionar informações detalhadas sobre os suplementos que consomem.</li>
                <li>Registro de Consumo: Os usuários podem registrar diariamente a quantidade de cada suplemento consumido.</li>
                <li>Visão Geral e Análise: A plataforma oferece aos usuários uma visão geral do seu consumo ao longo do tempo.</li>
            </ul>
            <h2>Objetivos</h2>
            <p>O objetivo principal deste projeto é proporcionar aos usuários uma maneira simples e eficaz de controlar seu consumo de suplementos nutricionais, ajudando-os a manter uma rotina saudável e otimizada.</p>
        </div>

        <div class="section">
            <h2>Autores</h2>
            <ul class="authors">
                <li><strong>Eduardo Souto</strong> - Eduardosouto2014@gmail.com</li>
                <li><strong>Diego Chaves Ravani</strong> - diegoravani@hotmail.com</li>
                <br>
                <p>Esse projeto faz parte da disciplina de Desenvolvimento Web no Ifes campus Cachoeiro de Itapemirim ministrada pelo professor Ricardo Maroquio.</p>
            </ul>
        </div>
    </div>

{% endblock content %}
